In [6]:
from mySUNI import cds

In [8]:
project_name = "공유 킥보드 대여량 예측" # 프로젝트 이름
class_info = "2차수 B반" # 차수 정보

In [9]:
cds.project.edu_rnd = class_info.split()[0]
cds.project.edu_class = class_info.split()[1]

In [11]:
cds.end_project('배기민', r'x:\03.WorkSpace\02. mySUNI\cds\모듈 테스트.ipynb')

제출에 성공하였습니다. 그동안 수고 많으셨습니다.

In [1]:
import json
with open('mySUNI/data/project.json', 'r') as f:
    data = json.load(f)
data.keys()

dict_keys(['타이타닉 생존자 예측', '자전거 대여량 예측', '상품 구매 예측', '주택 가격 예측', '대출 상환 능력 예측', '웨이퍼 맵 불량 유형 분류', '빌딩 전력 소모량 예측', '따릉이 대여량 예측', 'SK GAS 사용자 구매 예측', '패션이미지 분류', '손글씨 이미지 분류', '영화리뷰 감정 분석', '성인 소득 분류', '전력 사용량 예측', '중고차 가격 예측', '공유 킥보드 대여량 예측'])

In [1]:
import json
with open('mySUNI/data/project.json', 'r') as f:
    data = json.load(f)
data['대출 상환 능력 예측']

{'data.zip': 'https://www.dropbox.com/s/y96aywou688ill2/data.zip?dl=1'}

In [2]:
data['범주형 데이터 이진분류'] = {
    'train.csv':'http://sk.jaen.kr/download?download_path=%2Fdata%2Ffiles%2FmySUNI%2F05.+%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%8C%8C%EC%9D%BC%2Fproject%2F09.+CFEC%2Ftrain.csv',
    'test.csv':'http://sk.jaen.kr/download?download_path=%2Fdata%2Ffiles%2FmySUNI%2F05.+%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%8C%8C%EC%9D%BC%2Fproject%2F09.+CFEC%2Ftest.csv',
    'submission.csv':'http://sk.jaen.kr/download?download_path=%2Fdata%2Ffiles%2FmySUNI%2F05.+%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%8C%8C%EC%9D%BC%2Fproject%2F09.+CFEC%2Fsubmission.csv',
}

In [3]:
with open('mySUNI/data/project.json', 'w') as f:
    json.dump(data, f)

In [1]:
import json
with open('mySUNI/data/project.json', 'r') as f:
    data = json.load(f)

data['에너지 사용량 예측'] = {
    'data.zip':'http://sk.jaen.kr:8080/project/11. GEP/data',
}

with open('mySUNI/data/project.json', 'w') as f:
    json.dump(data, f)

In [1]:
from mySUNI import cds
cds

In [1]:
import mySUNI
from mySUNI import cds, utils

project_name = "운전자 보험 청구 확률 예측" # 프로젝트 이름
class_info = "1차수 A반" # 차수 정보
email = "skh_ml4@sk.com" # 회사 이메일을 넣어주세요. (~~~@sk.com) [평가시스템, 채팅시스템에서 사용하는 이메일]

print('===' * 15)
print(f'패키지버전: {mySUNI.__version__}')
print('===' * 15)

project = cds.Project(project_name, class_info, email)
project.edu_name = 'HYLV4'

print(f'프로젝트명: {project_name}\n차수 정보 : {class_info}\n이  메  일: {email}')
print('===' * 15)

# 이메일 설정 확인
if not project.email:
    raise print("[이메일이 누락되었습니다] 이메일을 설정해 주세요↑↑↑")

# 다운로드 프로젝트 파일
#cds.download_project(project_name, class_info, email)

=============================================
패키지버전: 1.4.4
=============================================
프로젝트명: 운전자 보험 청구 확률 예측
차수 정보 : 1차수 A반
이  메  일: skh_ml4@sk.com
=============================================

In [2]:
import pandas as pd
# 예측 결과 업데이트
submission = pd.read_csv(os.path.join('data', project_name, 'submission.csv'))
display(submission)

# 제출
project.email = email
project.submit(submission)

             id  target
0             0  0.0364
1             1  0.0364
2             2  0.0364
3             3  0.0364
4             4  0.0364
...         ...     ...
892811  1488022  0.0364
892812  1488023  0.0364
892813  1488024  0.0364
892814  1488025  0.0364
892815  1488026  0.0364

[892816 rows x 2 columns]

파일을 저장하였습니다. 파일명: submission-15-40-16.csv
변환 에러 발생 : <html>
<head><title>500 Internal Server Error</title></head>
<body bgcolor="white">
<center><h1>500 Internal Server Error</h1></center>
<hr><center>nginx/1.14.0 (Ubuntu)</center>
</body>
</html>

In [2]:
import json
with open('mySUNI/data/dataset.json', 'r') as f:
    data = json.load(f)

{'info': '서울시 따릉이 자전거 대여량 정보',
 'data': ['http://sk.jaen.kr:8080/datasets/seoul_bicycle.csv'],
 'filename': ['seoul_bicycle.csv']}

In [3]:
data['dogscats.zip'] = {'info': '서울시 따릉이 자전거 대여량 정보',
 'data': ['http://sk.jaen.kr:8080/datasets/dogscats.zip'],
 'filename': ['dogscats.zip']
 }

In [4]:
with open('mySUNI/data/dataset.json', 'w') as f:
    json.dump(data, f)